{% extends "navbar.html" %}
{% block content %}
<main class="container" role="main">
    <ul class="list-unstyled">
        {% for user in users %}
        <li class="media">
            <img class="avatar-loading" src="{{api_uri}}/{{user['id']}}/photo" alt=" " width="64" height="64">
            <div class="media-body">
                <h5 class="m-0 p-0">{{user["first_name"]}} {% if user["last_name"]%}{{user["last_name"]}}{% endif %}
                    {% if user["is_admin"]%}<span class="badge badge-primary">admin</span>{% endif %}
                    {% if user["bot"]%}<span class="badge badge-warning">bot</span>{% endif %}
                </h5>
                {% if user["username"] %}<small>@{{user["username"]}}</small>{% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
